.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 100%;
  transform: translate();
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  max-height: 80%;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.video-player-container,
.video-player {
  width: 100%;
  min-height: 100%;
}
